/target
/crates/testing/jamtestvectors
/crates/crypto/bandersnatch-vrfs-spec
/crates/pvm/rvparser/riscv-opcodes
/crates/spacejam/spec
/docs/js
/docker/data
/docker/node
/docker/polkajam
/monitor/data
/monitor/logs
/monitor/prometheus-data
/res
/logs

# misc
reports
spacejam.db
genesis.json
*.jam
.DS_Store